.reveal {
  background: #824cb3;
  color: white;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p {
  color: white;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #cfcfcf; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #cfcfcf; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #cfcfcf; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #cfcfcf; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #cfcfcf; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #cfcfcf; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #cfcfcf; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #cfcfcf; }

.reveal pre code {
  background: #cfcfcf;
  color: black;
}



.vega, .mark-group {
  background: white;
}


.reveal section img{
  border-style: none;
  background: transparent;
  box-shadow: 0 0 0;
}

.reveal pre code {
font-size: 36px;
max-height: 800px;
line-height: 45px;}

.reveal a {
    color: #90C226;
}
